body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  background: linear-gradient(to left, #f34fdd , #6b18bf);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
	cursor: pointer;
}